<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ownCsvReader" class="org.example.otusSpring.service.OwnCsvReaderImpl">
        <property name="resourceLoader" ref="defaultResourceLoader"/>
    </bean>

    <bean id="defaultResourceLoader" class="org.springframework.core.io.DefaultResourceLoader"/>

</beans>